@charset "UTF-8";
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --color-logo: #2196F3;
  --color-bacgraund-hovfut: #2F303A;
  --font-family: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --bacground-font-waight: #ffffff;
  --footer-mail-telefon: rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}

/*.button {
    display: block;
    padding-bottom: 0;
}*/
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
    margin: 0 auto;
  }
}
/* портфолилио??*/
/*.conteiner-main-portfolio {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
/*.section {
    padding-top: 94px;
    padding-bottom: 94px;
}/*удалила рядом с хиро*/
/*
.section__titlemain {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.section__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.section__text{
    font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #757575; 
}*/
.button {
  min-width: 130px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--color-logo);
  color: var(--bacground-font-waight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, text-shadow, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.button:hover, .button:focus {
  background-color: #188CE8;
  color: var(--bacground-font-waight);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-submit {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.form-footer__button {
  display: flex;
  align-items: center;
}

/*.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}*/
.logo__web {
  color: var(--color-logo);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list__link {
  display: block;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--color-logo);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-list__item {
  position: relative;
}
.nav-list__item:not(:last-child) {
  content: "";
  margin-right: 50px;
}

.nav-list__underline {
  color: var(--color-logo);
  border-radius: 2px;
}
.nav-list__underline::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -40px;
  background-color: var(--color-logo);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contakts__icons {
  margin-right: 10px;
  fill: currentColor;
  display: flex;
  align-items: center;
}

.contacts__item {
  display: flex;
}

.contacts__link {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--primery-text-color);
  transition-property: color, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-logo);
  fill: var(--color-logo);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts__linkmale {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--primery-text-color);
  transition-property: color, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.contacts__linkmale:hover, .contacts__linkmale:focus {
  color: var(--color-logo);
  fill: var(--color-logo);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts__linkphon {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  transition-property: color, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.contacts__linkphon:hover, .contacts__linkphon:focus {
  color: var(--color-logo);
  fill: var(--color-logo);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mrg-left {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: stretch;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mrg-left {
    margin-left: 30px;
  }
}
.social-end {
  justify-content: left;
  margin-left: 70px;
}

.social-end__list {
  display: flex;
  margin-left: auto;
}

.social-end__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.social-end__link:hover, .social-end__link:focus {
  background-color: var(--color-logo);
}

.social-end__soc:not(:last-child) {
  margin-right: 10px;
}

.social-end__svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--bacground-font-waight);
}

.social-end__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-footer {
  margin-left: 93px;
}

.form-footer__emeil {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-bacgraund-hovfut);
  color: var(--bacground-font-waight);
}

.form-footer__conteiner {
  display: flex;
  background-color: var(--color-bacgraund-hovfut);
}

.form-footer__icon {
  margin-left: 10px;
}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrope.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrope:hover::before {
  opacity: 1;
  visibility: hidden;
}

.form-modal__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form-modal__span {
  display: inline-block;
  position: relative;
}

.form-modal__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color;
}
.form-modal__input:focus {
  border-color: var(--color-logo);
}

.form-modal__icon {
  position: absolute;
  top: 14px;
  left: 15px;
}
.form-modal__input:focus + .form-modal__icon {
  fill: var(--color-logo);
  border: var(--color-logo);
}

.form-modal__texteria {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-modal__texteria::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__texteria:focus {
  border-color: var(--color-logo);
}

.form-modal__checklink {
  text-decoration: var(--color-logo);
}

.form-modal__checkspan {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  text-decoration: underline var(--color-logo);
}

.form-modal__checboxlable {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  cursor: pointer;
}
.form-modal__checboxlable::before {
  position: relative;
  content: "";
  display: block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  background-color: var(--bacground-font-waight);
}
.form-modal__checkbox:checked + .form-modal__checboxlable::before {
  background-color: var(--color-logo);
  border: 0.2px solid var(--color-logo);
  background-image: url(../images/iconcheck.svg);
  background-position: 50% 50%;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}
.form-modal p {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--bacground-font-waight);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.backdrope.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus {
  fill: var(--color-logo);
}

@media screen and (max-width: 768px) {
  .mobile-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bacground-font-waight);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-conteiner.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-conteiner__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
  }

  .mobile-conteiner__dop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobil-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 44px;
  }
  .mobil-social:not(:last-child) {
    margin-right: 20px;
  }

  .mobil-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-logo);
  }

  /*.mobil-menu__item::after{
      border: 1px solid rgba(33, 33, 33, 0.2);
      display: block;
          position: absolute;
          content: "";
          width:0 ;
          height: 22;
          left: 0;
          bottom:0;
          background-color: var(--primery-text-color);

          transition: opacity 250ms
  }*/
  .mobil-menu {
    padding-left: 25px;
  }

  .mobil-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobil-menu__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-menu__link:hover, .mobil-menu__link:focus {
    color: var(--color-logo);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .mobil-contacts {
    padding-left: 25px;
  }

  .mobil-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobil-contacts__linc-maile {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
  }

  .mobil-contacts__linc-phon {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-logo);
  }
}
@media screen and (min-width: 768px) {
  .mobile-conteiner {
    display: none;
  }
}
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  background-color: var(--bacground-font-waight);
  padding: 16px 15px;
}

.header__correct {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------mobil-menu========*/
@media screen and (max-width: 768px) {
  .mob-menu-open-btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }

  .nav-list {
    display: none;
  }

  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu-open-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-bacgraund-hovfut);
    color: var(--bacground-font-waight);
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-bacgraund-hovfut);
    color: var(--bacground-font-waight);
  }
}
/*@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url("../images/hero-tab@2x.jpg");
    }
}*/
@media screen and (min-width: 1200px) {
  .hero {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 200px 0;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-1.jpg");
    background-position: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-bacgraund-hovfut);
    color: var(--bacground-font-waight);
    position: relative;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-komp@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bacground-font-waight);
  }
}
.idea-list {
  display: flex;
  justify-content: space-between;
  flex-basis: calc((100% - 120px) / 4);
}

.idea-list__item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.idea-list__item:not(:last-child) {
  margin-right: 30px;
}

.idea-list__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section__nopuddingtop {
  display: block;
  padding-top: 0;
}

.wedoing__box {
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  flex-basis: calc((100% - 90px) / 3);
}

.wedoing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.wedoing__item {
  position: relative;
}
.wedoing__item:not(:last-child) {
  margin-right: 30px;
}

.title-wite {
  color: var(--bacground-font-waight);
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: calc((100% - 120px) / 4);
  background-color: #F5F4FA;
}

.section__background {
  background-color: #F5F4FA;
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bacground-font-waight);
}
.team__card:not(:nth-child(4n)) {
  margin-right: 30px;
}

/*
.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}*/
.team__prof {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 16px;
}

.team__meta {
  padding: 30px 0;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__linc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.social__linc:hover, .social__linc:focus {
  background-color: var(--color-logo);
  fill: var(--bacground-font-waight);
}

.team__title-center {
  display: flex;
  justify-content: center;
}

.clients {
  display: flex;
  align-items: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--color-logo);
  fill: var(--color-logo);
}

.footer {
  display: flex;
  padding: 60px 0;
  background-color: var(--color-bacgraund-hovfut);
  color: var(--bacground-font-waight);
}

.footer__webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--bacground-font-waight);
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.footer__web {
  color: var(--color-logo);
}

.footer__nav:not(:last-child) {
  margin-bottom: 9px;
}

.futer__maps {
  color: var(--bacground-font-waight);
}

.footer__mail {
  color: var(--footer-mail-telefon);
}

.footer__tel {
  color: var(--footer-mail-telefon);
}

.conteinerdop {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*button portfolio*/
.button-list__stud {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  border: transparent;
  border-radius: 4px;
  transition-property: background-color, color, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list__stud:hover, .button-list__stud:focus {
  background-color: var(--color-logo);
  color: var(--bacground-font-waight);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-list__line:not(:last-child) {
  margin-right: 8px;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-cards__bottom {
  display: block;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid rgb(238, 238, 238);
  transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards__link:hover .project-cards__bottom, .project-cards__link:focus .project-cards__bottom {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-cards__line {
  display: block;
  background-color: var(--bacground-font-waight);
}
.project-cards__line:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.project-cards__line:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-cards__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.project-cards__atop {
  position: relative;
  overflow: hidden;
}

.text-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--bacground-font-waight);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards__link {
  display: block;
  transition-property: transform;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards__link:hover .text-hidden, .project-cards__link:focus .text-hidden {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */