@media screen and (max-width:768px){
.footer-conteiner__contacts,
.social-end
{
    margin-bottom: 60px;
   
.footer__address{
    margin-top: 20px;

}
}
.footer-conteiner{
margin-left: auto;
margin-right: auto;
}
.footer__list {
    text-decoration: none;
}
.social-end__list {
    display: flex;
justify-content: center;
align-items: center;}

@media screen and (min-width:768px) and (max-width:1199px){
.footer-conteiner {
        display: flex;
    justify-content: space-around;
text-align: center;
}

.footer-conteiner__contacts,
.social-end {
    
    margin-bottom: 60px;
    font-style: normal;
    
}

.footer__list {
        text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__address {
    font-style: normal;}
}
@media screen and (min-width:1200px){
.footer__conteiner {
      display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.footer-conteiner__contacts,
.footer__list{
display: block;
font-style: normal;
}}

}

.footer {
    padding: 60px 0;
    background-color: var(--color-bacgraund-hovfut);
    color: var(--bacground-font-waight);
}
.footer__webstudio {
margin-left: auto;
margin-right: auto;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bacground-font-waight);
}
.footer__web {

    color: var(--color-logo);
}
.futer__maps {
    color: var(--bacground-font-waight);
}

.footer__mail,
.footer__tel {
    color: var(--footer-mail-telefon);
}
 .social-end__list {
     display: flex;
     justify-content: center;
 }

.social-end__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
&:hover,
&:focus {
    background-color: var(--color-logo);

}

}

.social-end__soc:not(:last-child) {
    margin-right: 10px;
}

.social-end__svg {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--bacground-font-waight);
}
.social-end__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.footer__item{
    text-align: center;
&:not(:last-child) {
        margin-bottom: 8px;
    }

}