@media screen and (max-width:768px){ 
.project-cards__bottom
{
    margin-bottom: 30px;
   &:not(:last-child){
     margin-bottom: 30px;
   }
}
}
@media screen and (min-width:768px){
.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    translateY(101%);
}

    .project-cards__item {
        display:flex;

        background-color: var(--bacground-font-waight);
        width: 100%;
            flex-basis: calc((100% - 30px * 4) /2);
        &:not(:nth-last-child(2n)) {
                    margin-right: 30px;
                }
                &:not(:last-child){
margin-bottom: 30px;
                }
    }
}
@media screen and (min-width:1200px){
.project-cards__item {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--bacground-font-waight);
width: 100%;
    flex-basis: calc((100% - 30px * 4) /3);
    
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 30px;
            }
    
            &:not(:nth-child(3n)) {
                margin-right: 30px;
            }
               
    }
    .project-cards__link {
        display: block;
        transition-property: transform;
        transition-duration: 550ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover .text-hidden,
        &:focus .text-hidden {
            transform: translateY(0);
        }
    }

}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.project-cards__bottom {
    display: block;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    border: 1px solid rgba(238, 238, 238, 1);
    transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-cards__link:hover &,
    .project-cards__link:focus & {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }}

        .project-cards__atop {
            position: relative;
            overflow: hidden;
        }
.text-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--bacground-font-waight);
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-cards__text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

/*.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
}
.project-cards__item {
    display: block;
    background-color: var(--bacground-font-waight);
&:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
&:not(:nth-child(3n)) {
    margin-right: 30px;
}

}


.project-cards__link {
    display: block;
    transition-property: transform;
    transition-duration: 550ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover .text-hidden,
&:focus .text-hidden {
    transform: translateY(0);
}}
*/
