.social-end {
    justify-content: left;

    margin-left: 70px;
}

.social-end__list {
    display: flex;
    margin-left: auto;
}

.social-end__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
&:hover,
&:focus {
    background-color: var(--color-logo);

}

}

.social-end__soc:not(:last-child) {
    margin-right: 10px;
}

.social-end__svg {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--bacground-font-waight);
}



.social-end__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

}