.form-modal__text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: var(--primery-text-color)
}
.form-modal__span {
    display: inline-block;
    position: relative;
}

.form-modal__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color;
    ;
    &:focus {
    border-color: var(--color-logo);
}

}

.form-modal__icon {
    position: absolute;
    top: 14px;
    left: 15px;
    .form-modal__input:focus+ & {
            fill: var(--color-logo);
            border: var(--color-logo);
        }
}
.form-modal__texteria {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
&:focus {
    border-color: var(--color-logo);
}
}

.form-modal__checklink {
    text-decoration: var(--color-logo);
}

.form-modal__checkspan {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-logo);
    text-decoration: underline var(--color-logo);
}

.form-modal__checboxlable {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    cursor: pointer;
&::before {
    position: relative;
    content: "";
    display: block;
    cursor: pointer;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: var(--bacground-font-waight);
.form-modal__checkbox:checked+& {
    background-color: var(--color-logo);
    border: 0.2px solid var(--color-logo);
    background-image: url(../images/iconcheck.svg);
    background-position: 50% 50%;
}
}
}
.form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 41px;
    padding-right: 39px;

  & p {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}  
}
