.nav{
    display: flex;
}
.nav-list {
    display: flex;
    align-items: baseline;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.nav-list__link {
    display: block;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--color-logo);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

}

.nav-list__item {
    position: relative;
&:not(:last-child) {
    content: "";
    margin-right: 50px;
}

}

.nav-list__underline {
    color: var(--color-logo);
    border-radius: 2px;
    
 &::after {
     display: block;
     position: absolute;
     content: "";
     width: 100%;
     height: 4px;
     left: 0;
     bottom: -33px;
     background-color: var(--color-logo);
     opacity: 1;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}
 }