.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primery-text-color);
}

/*.button {
    display: block;
    padding-bottom: 0;
}*/
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}