.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* портфолилио??*/
.conteiner-main-portfolio {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}