:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --color-logo: #2196F3;
    --color-bacgraund-hovfut: #2F303A;
    --font-family: "Raleway", sans-serif;
    --font-family: "Roboto", sans-serif;
    --bacground-font-waight: #ffffff;
    --footer-mail-telefon: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
}